.origemLi {
    list-style-type: none;
}

.destinoLi {
    list-style-type: none;
}

.boxGerarRota{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
}

.boxButton {
    display: flex;
}

.originTypeHead {
    width: 47%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.imgSwitch{
    width: 20px;
    height: 20px;
} 
